{% extends 'base.html.twig' %}

{% block body %}
<section class="row">
{% dump(posts) %}
    {% for post in posts %}
        <div class="col s4">
            <div class="row">
                {{ post.caption.text|raw }}
                {% if post.image is not null %}
                    {% if post.iSinstagram is null %}
                        <img class="col s12" src="{{ asset('/upload/media/low_resolution/' ~ post.image.name) }}"/>
                        {% else %}
                        <img class="col s12" src="{{ image.link }}"/>
                    {% endif %}
                {% endif %}
            </div>
        </div>

    {% endfor %}

  {#<article class="item">#}
      {#{% if post.location is not empty %}#}
        {#<header class="content row">#}
          {#<div class="col s12"><p>{{ post.location.name }}</p></div>#}
        {#</header>#}
      {#{% endif %}#}
    {#<div class="content__wrapper row">#}
      {#<div class="content content__image"><!--margin-top: 60px;-->#}
        {#<div class="content__overlay">#}
          {#<p>{{ post.caption.title|length > 20 ? post.caption.title|slice(0, 20)|raw ~ '...' : post.caption.title|raw  }}</p>#}
          {#<a class="toggle__btn toggle__btn--expand btn-floating btn-large waves-effect waves-light blue">#}
            {#<i class="material-icons">expand_less</i>#}
          {#</a>#}
        {#</div>#}
        {#<a class="hidden toggle__btn toggle__btn--reduce btn-floating waves-effect waves-light red">#}
          {#<i class="material-icons">expand_more</i>#}
        {#</a>#}
          {#{% for image in post.images %}#}
              {#{% if image.type == 'low_resolution' %}#}
                {#<img src="{{ image.url }}" />#}
              {#{% endif %}#}
          {#{% endfor %}#}
      {#</div>#}
    {#</div>#}
    {#<footer class="content row">#}
      {#<div class="col s12">#}
        {#<p>{{ post.caption.text|raw }}</p>#}
          {#{% if post.location is not empty %}#}
            {#<a href="https://www.google.com/maps?q=50.0076371769,8.2167947787" target="_blank">#}
              {#<i class="fa fa-map-marker"></i>#}
            {#</a>#}
          {#{% endif %}#}
        {#<a href="{{ post.link }}" target="_blank">#}
          {#<i class="fa fa-instagram"></i></a>#}
      {#</div>#}
    {#</footer>#}
  {#</article>#}

</section>

  <!--<div class="admin-panel">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>-->
{% endblock %}
