{% extends 'base.html.twig' %}

{% block body %}
    <section>


        <img src="{{ asset('/upload/media/low_resolution/' ~ image) }}">
            {{ form_start(formPost) }}
            {{ form_widget(formPost.caption) }}
            {{ form_widget(formPost.image) }}
            {{ form_end(formPost) }}

    </section>

    <!--<div class="admin-panel">
      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>-->
{% endblock %}
